* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

html, body {
    height: 100%;
}

/* Div do menu */
.menu {
    width: 100%;
    margin: 30px auto;
    text-align: center;
}

.menu>h1 {
    color: #c72828;
    margin-bottom: 20px;
    font-family: "Consolas";
}

.menu > a {
    color: red;
    padding: 5px;
    margin: 0 10px;
    font-size: 20px;
    border: 2px solid blueviolet;
    border-radius: 10px;
}

/* Div de conteúdo*/
.content {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.content > p {
    color: brown;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
}

/* Lista */
.lista {
    list-style-position: inside;
    list-style-type: disc;
    text-align: center;
    background-color: bisque;
    width: 640px;
    margin: 0 auto;
}

.lista > li {
    font-size: 20px;
    color: blue;
    display: inline-block;
}

/* Artigo */
.center {
    box-sizing: content-box;
    width: 1280px;
    margin: 0 auto;
    background-color: rgb(210, 203, 203);
    padding: 0 10px;
    border-radius: 10px;
}
.article {
    font-family: Consolas;
    color: rgb(243, 65, 1);
    margin-top: 30px;
    margin-right: -4px;
    display: inline-block;
    width: 640px;
}

.article > p {
    font-size: 18px;
}