    <header>
        <nav>
            <a class="header-logo" href="/">ArpaMed</a>
            <div class="menu-hamburguer">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div> 
            </div>
            <ul class="header-list">
                <li><a title="Ir para a Página Inicial" href="/">Home</a></li>
                <li><a title="Ir para a Página de busca de Hospitais Próximos" href="/pesquisa">Hospitais Próximos</a></li>
                <li><a title="Ir para a Página de Agenda" href="/agenda">Agenda</a></li>
                <li><a title="Ir para a Página de Cadastro" href="/cadastro">Cadastro</a></li>
                <li><a title="Ir para a Página dos Médicos" href="/area-medica">Area Médica</a></li>
            </ul>
        </nav>
    </header>