<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/public/images/icons/404-icon.png" type="image/x-icon" />

    <title>404</title>
</head>
<body>
    <p style="text-align: center;"><img src="/public/images/error.svg" alt="404" style="width: 30%;"></p>
    <h1 style="text-align: center; font-family: Verdana, Geneva, Tahoma, sans-serif;">404 ERROR ⚠</h1>
    <h1 style="text-align: center; font-family: Verdana, Geneva, Tahoma, sans-serif;">Nah, não encontramos o seu conteúdo :(</h1>
</body>
</html>