<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/public/images/icons/arpa_icon.png" type="image/x-icon">
    <link rel="stylesheet" href="../public/css/styleagenda.css" />
    <link rel="stylesheet" href="../public/css/style.css" />
    <title>Agenda</title>
</head>

<body>
    <%- include('partials/header.html') %>

        <div class="titulo-agenda">
            <h2>Agenda do Hospital</h2>
        </div>

        <div class="titulo-filtro">
            <h3>Identifique o médico</h3>
        </div>
        <form id="formulario-agenda" class="formulario-agenda" action="/agenda/procurar" method="POST">
            <div class="form-agenda">
                <label for="crm"> CRM </label>
                <input type="text" id="crm" placeholder="Identificação do médico" class="input-form" 
                    oninput="crmvalidar()" onclick="listatabela()" name="crm"/>
                <i class="fas fa-exclamation-circle"></i>
                <i class="fas fa-check-circle"></i>
                <small>mesagem de erro</small>
            </div>

            <button type="submit" id="butao">Enviar</button>
        </form>

        <div id="resultado">
            <h2>Resultados</h2>
            <table id="table-resultado">
                <thead>
                    <th>Nome do médico</th>
                    <th>Especialidade</th>
                    <th>Hospital</th>
                    <th>Endereço</th>
                    <th>Dia da semana</th>
                    <th>Início do Expediente</th>
                    <th>Fim do Expediente</th>
                </thead>
                <tbody id="tbody-resultado">
                
                </tbody>
            </table>
        </div>

        <%- include('partials/footer.html') %>
        <script src="/public/js/agendascript.js"></script>
</body>

</html>