<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/public/images/icons/arpa_icon.png" type="image/x-icon">
    <link rel="stylesheet" href="/public/css/style.css" />
    <link rel="stylesheet" href="/public/css/styleAreaMed.css" />

    <title>Área Médica</title>
</head>

<body>
    <%- include('partials/header.html') %>


        <div class="titulo">
            <h2>Área médica</h2>
        </div>
        <select class="selectirar" id="selecionado">
            <option value="cadastrar">Cadastrar</option>
            <option value="exibir">Exibir</option>
        </select>
        <form id="formulario-areamed" class="formulario-areamed" action="/area-medica" method="POST">

            <div class="form-esquerda">
                <label for="CNPJ"> CNPJ </label>
                <input type="text" id="cnpj" placeholder="CNPJ do cnpj_hospital" class="input-form" 
                    oninput="cnpjvalidar()" name="cnpj_hospital"/>
                <i class="fas fa-exclamation-circle"></i>
                <i class="fas fa-check-circle"></i>
                <small>mesagem de erro</small>
            </div>
            
            <div class="form-esquerda">
                <label for="crm">Crm</label>
                <input type="number" id="crm" placeholder="Crm do médico" class="input-form"
                    oninput="crmvalidar()" name="crm"/>
                <i class="fas fa-exclamation-circle"></i>
                <i class="fas fa-check-circle"></i>
                <small>mesagem de erro</small>
            </div>

            <div class="form-esquerda">
                <label for="diagnostico">Diagnóstico</label>
                <input type="text" id="diagnostico" placeholder="Diagnóstico da consulta" 
                    name="diagnostico"/>
                <i class="fas fa-exclamation-circle"></i>
                <i class="fas fa-check-circle"></i>
                <small>mesagem de erro</small>
            </div>

            <div class="form-direita">
                <label for="medicamento">Medicamento</label>
                <input type="text" id="medicamento" placeholder="Medicamento receitado" 
                    name="medicamento">
                <i class="fas fa-exclamation-circle"></i>
                <i class="fas fa-check-circle"></i>
                <small>mesagem de erro</small>
            </div>
            <div class="form-direita">
                <label for="exame">Exame</label>
                <input type="text" id="exame" placeholder="Exame pedido" 
                    name="exame"/>
                <i class="fas fa-exclamation-circle"></i>
                <i class="fas fa-check-circle"></i>
                <small>mesagem de erro</small>
            </div>
            <div class="form-direita">
                <label for="observacao">Observação</label>
                <input type="text" id="observacao" placeholder="Observação sobre a consulta" 
                    name="observacao"/>
                <i class="fas fa-exclamation-circle"></i>
                <i class="fas fa-check-circle"></i>
                <small>mesagem de erro</small>
            </div>
            <button type="submit" id="butao">Enviar</button>

        </form>
        <div id="registroconsulta" class="registroconsulta">
            <h2>Registro de consultas</h2>
            <label for="id">ID da consulta</label>
            <input type="text" id="registro" placeholder="Registro de consultas" name="registro" onclick="listatabela()"/>
            <button type="submit" id="butao">Enviar</button>
            <table id="table-resultado">
                <thead>
                    <th>CPF</th>
                    <th>CNPJ</th>
                    <th>CRM</th>
                    <th>Diagnóstico</th>
                    <th>Medicamento</th>
                    <th>Exame</th>
                    <th>Observação</th>
                </thead>
                <tbody id="tbody-resultado">
                
                </tbody>
            </table>
        </div>
        <%- include('partials/footer.html') %>
            <script src="/public/js/area-medicascript.js"></script>
</body>

</html>