<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/public/images/icons/arpa_icon.png" type="image/x-icon">
    <link rel="stylesheet" href="/public/css/style.css" />
    <link rel="stylesheet" href="/public/css/styleareamed.css" />

    <title>Área Médica</title>
</head>

<body>
    <%- include('partials/header.html') %>


        <div class="titulo">
            <h2>Área médica</h2>
        </div>
        <select class="selectirar" id="selecionado">
            <option value="cadastrar" selected>Cadastrar</option>
            <option value="exibir">Exibir</option>
        </select>
        <form id="formulario-areamed" class="formulario-areamed" action="/area-medica" method="POST">

            <div class="form-esquerda">
                <label for="nome"> Nome do Médico </label>
                <input type="text" id="nome" class="input-form" oninput="nomevalidar()" 
                    placeholder="Nome do Médico" name="nome_medico"/>
                <i class="fas fa-exclamation-circle"></i>
                <i class="fas fa-check-circle"></i>
                <small>mesagem de erro</small>
            </div>

            <div class="form-esquerda">
                <label for="nome"> Nome do Paciente </label>
                <input type="text" id="nome" class="input-form" oninput="nomevalidar()" 
                    placeholder="Nome do Paciente" name="nome_paciente"/>
                <i class="fas fa-exclamation-circle"></i>
                <i class="fas fa-check-circle"></i>
                <small>mesagem de erro</small>
            </div>
            
            <div class="form-esquerda">
                <label for="especialidade">Especialidade</label>
                <input type="text" id="especialidade" placeholder="Especialidade do Médico" class="input-form"
                    oninput="especialidadevalidar()" name="especialidade"/>
                <i class="fas fa-exclamation-circle"></i>
                <i class="fas fa-check-circle"></i>
                <small>mesagem de erro</small>
            </div>

            <div class="form-esquerda">
                <label for="nome"> Nome do Hospital </label>
                <input type="text" id="nome" class="input-form" oninput="nomevalidar()" 
                    placeholder="Nome do Hospital" name="nome_hospital"/>
                <i class="fas fa-exclamation-circle"></i>
                <i class="fas fa-check-circle"></i>
                <small>mesagem de erro</small>
            </div>

            <div class="form-esquerda">
                <label for="diagnostico">Diagnóstico</label>
                <input type="text" id="diagnostico" placeholder="Diagnóstico da consulta" 
                    name="diagnostico"/>
                <i class="fas fa-exclamation-circle"></i>
                <i class="fas fa-check-circle"></i>
                <small>mesagem de erro</small>
            </div>

            <div class="form-direita">
                <label for="medicamento">Medicamento</label>
                <input type="text" id="medicamento" placeholder="Medicamento receitado" 
                    name="medicamento">
                <i class="fas fa-exclamation-circle"></i>
                <i class="fas fa-check-circle"></i>
                <small>mesagem de erro</small>
            </div>
            <div class="form-direita">
                <label for="exame">Exame</label>
                <input type="text" id="exame" placeholder="Exame pedido" 
                    name="exame"/>
                <i class="fas fa-exclamation-circle"></i>
                <i class="fas fa-check-circle"></i>
                <small>mesagem de erro</small>
            </div>
            <div class="form-direita">
                <label for="observacao">Observação</label>
                <input type="text" id="observacao" placeholder="Observação sobre a consulta" 
                    name="observacao"/>
                <i class="fas fa-exclamation-circle"></i>
                <i class="fas fa-check-circle"></i>
                <small>mesagem de erro</small>
            </div>
            <button type="submit" id="butao">Enviar</button>

        </form>
        <div class="alert"></div>
        <%- include('partials/footer.html') %>
            <script src="/public/js/area-medicascript.js"></script>
</body>

</html>