<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Login</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="/public/images/icons/arpa_icon.png" type="image/x-icon" />
    <link rel="stylesheet" href="/public/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/public/css/login.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;400;600&display=swap" rel="stylesheet" />
</head>

<body>
    <div class="container">
        <div class="container-login">
            <div class="wrap-login">
                <form class="login-form" action="/login" method="POST">
                    <span class="login-form-title">Faça Login</span>

                    <div class="wrap-input margin-top-35 margin-bottom-35">
                        <input class="input-form" id="crm" type="number" name="crm" autocomplete="off"
                            oninput="crmvalidade()" />
                        <span class="focus-input-form" data-placeholder="CRM"></span>
                        <span class="span">Preencha este campo</span>
                    </div>

                    <div class="wrap-input margin-bottom-35">
                        <input class="input-form" type="password" name="password" id="senha"
                            oninput="senhavalidade()" />
                        <span class="focus-input-form" data-placeholder="Senha"></span>
                        <span class="span">Preencha este campo</span>
                    </div>

                    <div class="container-login-form-input">
                        <input id ="butaologin" class="login-form-input" type="button" value="Login" onclick="changebutao()">
                    </div>
                </form>
            </div>
            <img src="/public/images/icons/iconred.png" width="400" height="400" />
        </div>
    </div>

    <script src="/public/js/loginscript.js"></script>
</body>

</html>