@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

.formulario-cadastro {
  background-color: #fafafa;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  max-width: 1900px;
  max-height: 900px;
}

.titulo {
  background-color: #eee;
  padding: 20px;
  overflow: hidden;
}
.titulo select {
  background: url(http://www.webcis.com.br/images/imagens-noticias/select/ico-seta-select.gif)
	no-repeat #eee;
  /* Imagem de fundo (Seta) */
  background-position: 205px center;
  /*Posição da imagem do background*/

  /* Tamanho do select, maior que o tamanho da div "div-select" */
  height: 80px;
  /* altura do select, importante para que tenha a mesma altura em todo os navegadores */
  font-family: Arial, Helvetica, sans-serif;
  /* Fonte do Select */
  font-size: 30px;
  /* Tamanho da Fonte */
  padding: 13px 20px 13px 12px;
  /* Configurações de padding para posicionar o texto no campo */
  color: rgb(3, 2, 2);
  /* Cor da Fonte */
  text-indent: 0.01px;
  /* Remove seta padrão do FireFox */
  text-overflow: "";

  outline: #0a20a1;
}

/* Remove seta padrão do FireFox */
.select select::-ms-expand {
  display: none;
}
/* Remove seta padrão do IE*/

.formulario-cadastro {
  padding: 20px;
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.form-esquerda {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  width: 800px;
  padding-bottom: 20px;
}

.form-direita {
  padding-right: 100%;
  padding-top: 10px;
  padding-bottom: 20px;
  width: 800px;
}

/* 
  AINDA EM TESTE...
.form-controle {
  margin-bottom: 10px;
  padding-bottom: 10px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}
.form-control {
  margin-bottom: 10px;
  padding-bottom: 10px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
*/
.form-direita label {
  display: inline-block;
  margin-bottom: 5px;
  width: 200px;
}

.form-direita input {
  border: 2px solid #1d1a1a;
  display: block;
  border-radius: 10px;
  font-size: 14px;
  width: 600px;
  padding: 10px;
}

.form-direita i {
  position: absolute;
  top: 45px;
  right: 10px;
  visibility: hidden;
}

.form-direita small {
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

/*////////////////////////////////////////*/

.form-esquerda label {
  display: inline-block;
  margin-bottom: 5px;
  width: 200px;
}

.form-esquerda input {
  border: 2px solid #1d1a1a;
  display: block;
  border-radius: 10px;
  font-size: 14px;
  width: 600px;
  padding: 10px;
}

.form-esquerda i {
  position: absolute;
  top: 45px;
  right: 10px;
  visibility: hidden;
}

.form-esquerda small {
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.formulario-cadastro button {
  background-color: #0a20a1;
  border: 2px solid #0a20a1;
  color: #fff;
  font-size: 20px;
  width: 630px;
  border-radius: 10px;
  padding: 10px;
}

/* Error and Success */
/*.form-controle.success input {
  border-color: #2ecc71;
}

.form-controle.error input {
  border-color: #e74c3c;
}

.form-controle.success i.fa-check-circle {
  color: #2ecc71;
  visibility: visible;
}

.form-controle.error i.fa-exclamation-circle {
  color: #e74c3c;
  visibility: visible;
}

.form-controle.error small {
  visibility: visible;
  color: #e74c3c;
}
*/

.header-list #cadastro a{
  color: #000000;
}