@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");

/* Definições globais */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Deixa o scroll suave */
html {
  scroll-behavior: smooth;
}

* {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: white;
}
a:hover {
  opacity: 0.7;
}

a {
  text-decoration: none;
  letter-spacing: 1.4px;
  font-size: 0.88rem;
  text-transform: uppercase;
  color: #fff;
  padding: 8px 5px 9px 5px;
  position: relative;

}

a:hover {
  transition: all .5s ease;
  color: #000000;
}

a:before {
  background-size: 100%;
  height: 29px;
  width: 40px;
  top: -25px;
  left: 0;
  right: 0;
  margin: 0 auto;
  opacity: .8;
}

a::after {
  position: absolute;
  content: '';
  left: 4px;
  bottom: 7px;
  height: 1px;
  width: 0;
  padding: 0;
  z-index: -1;
  transition: all .5s ease;
}

a:hover::after {
  background: rgba(255, 255, 255, 0.24);
  opacity: 1;
  width: 80%;
  position: absolute;
  content: '';
  left: 4px;
  bottom: 7px;
  height: 1px;
  width: 0;
  padding: 0;
  z-index: -1;
  background: #000000;
  transition: all .5s ease;
  opacity: 1;
  width: 80%;
}
/* Header do site */

.header-logo {
  font-size: 24px;
  text-transform: capitalize;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color:  #b7302d;
  height: 9vh;
}

.header-list {
  list-style: none;
  display: flex;
}

.header-list > li {
  margin-left: 40px;
}

.header-list > li {
  display: inline-flex;
  padding: 14px;
  margin-left: 2px;
  color: #fff;
  cursor: pointer;

  user-select: none;
}
/*
.header-list > li:hover {
  color: royalblue;
  box-shadow: 0 50px 5px rgba(249, 249, 249, 0.293) inset;
}
*/
.menu-hamburguer {
  display: none;
  cursor: pointer;
}

.menu-hamburguer > div {
  width: 32px;
  height: 2px;
  background: white;
  margin: 7px;
}

/* Imagem apenas para preencher o conteúdo da página*/
main {
  background: url(../images/arpamed.jpg) no-repeat center center;
  background-size: cover;
  height: 91vh;
}

/* Rodapé do Site */
footer {
  background: #b7302d;
  padding: 70px 0;
  /* position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: auto; */
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.footer-container {
  max-width: 1170px;
  margin: auto;
}

ul {
  list-style: none;
  padding: 0;
}

.footer-column {
  width: 25%;
  padding: 0 15px;
}

.footer-column > h3 {
  color: white;
  margin-bottom: 35px;
  font-size: 18px;
  position: relative;
}
.footer-column > p {
  color: white;
}

.footer-column h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #000000;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-column ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-column ul li a {
  font-size: 16px;
  display: block;
}

.footer-column ul li a:hover {
  padding-left: 3px;
}

/* Reponsividade */
@media (max-width: 960px) {
  /* body{
        overflow-x: hidden;
    } */
  .menu-hamburguer {
    display: unset;
  }
  .header-list {
    position: absolute;
    top: 7vh;
    right: 0;
    width: 50vw;
    height: 90vh;
    background: #23232e;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* transform: translateX(100%); */
    visibility: hidden;
    overflow-y: hidden;
  }
  .header-list > li {
    margin-left: 0;
  }
  /*
    .header-list.active{
        visibility: visible;
    }
    .line{
        border-top: 2px solid;
        width: 20px;
    }
    #line::after,
    #line::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }
  #header-list.active #line {
    border-top-color: transparent;
  }
  #header-list.active #line::before {
    transform: rotate(135deg);
  }
  #header-list.active #line::after {
    transform: rotate(-135deg);
    top: -7px;
  }
  */
}
