<header>
  <nav class="menu-bar">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"/>
      <a class="header-logo" href="/">ARPAMED</a>
      <div class="menu-hamburguer">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div> 
      </div>
      <ul class="header-list">
        <li id="home"><a title="Ir para a Página Inicial" href="/">Home</a></li>
            <li id="pesquisa"><a title="Ir para a Página de busca de Hospitais Próximos" href="/pesquisa">Hospitais Próximos</a></li>
            <li id="agenda"><a title="Ir para a Página de Agenda" href="/agenda">Agenda</a></li>
        <li><a href="#"><i class="fas fa-caret-down"></i>Área Médica</a>
          
          <div class="dropdown-menu">
              <ul>
                <li id="areamed"><a title="Ir para a Área médica" href="/login">Área Médica</a></li>
                <li id="areaatendimento"><a title="Ir para a Área de atendimento" href="/paciente">Área de Atendimento</a></li>
                <li id="arearh"><a title="Ir para a Área do RH" href="/cadastromed">Área do RH</a></li>
              </ul>
          </div>
      </li>
      </ul>
    </nav>
</header>