<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/public/images/icons/arpa_icon.png" type="image/x-icon">
    <link rel="stylesheet" href="/public/style.css" />
    <link rel="stylesheet" href="/public/styleagenda.css" />
    <title>Agenda</title>
</head>

<body>
    <%- include('partials/header.html') %>

        <div class="titulo-agenda">
            <h2>Agenda do Hospital</h2>
        </div>

        <div class="titulo-filtro">
            <h3>Identifique o médico</h3>
        </div>
        <form id="formulario-agenda" class="formulario-agenda">
            <div class="form-agenda">
                <label for="crm"> CRM </label>
                <input type="text" id="crm" placeholder="Identificação do médico" />
                <i class="fas fa-exclamation-circle"></i>
                <i class="fas fa-check-circle"></i>
                <small>mesagem de erro</small>
            </div>

            <button type="submit" id="butao">Enviar</button>
        </form>

        <div id="resultado">
            <h2>Resultados</h2>
        </div>

        <%- include('partials/footer.html') %>
            <script>
                function setError(index) {
            input[index].style.border = "3px solid #e63636";
            span[index].style.display = "block";
        }

        function removeError(index) {
            input[index].style.border = "";
            span[index].style.display = "none";
        }

        function crm() {
            if (input[0].value.length < 20) {
                setError(0);
            } else {
                removeError(0);
            }
        }
            </script>
</body>

</html>