<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/style.css" />
    <link rel="stylesheet" href="/public/styleindex.css" />
    <title>Hospital PJI</title>
</head>

<body>
<%- include('partials/header.html') %>
    
    <main>
        <!-- <article>
            <h2>Lorem Ipsum</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores assumenda voluptatum, velit placeat amet porro.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem aliquam aut, neque quibusdam vel reprehenderit?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius eos cumque nesciunt rem provident a?</p>
        </article> -->
    </main>

    <!-- Inclusão dinamica do footer -->
    <%- include('partials/footer.html') %>
</body>

</html>